@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}
.open{
  display: flex !important;
}

/* Header styles */
.header {
  padding-top: 0.5em;
  width: 100%;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  transition: height 0.3s; /* Added transition for smooth height change */
}

.header_logo {
  font-size: 3em; /* Increased font size */
  font-weight: 600;
  color: black;
}

.header_inner {
  justify-content: center;
  display: flex;
  align-items: center;
}
/*NAVIGATION*/
nav {
  font-size: 2em;
  text-transform: uppercase;
}

.nav_link {
display: inline-block;
vertical-align: top;
margin: 0.5em;
color: black;
text-decoration: none;
position: relative;
transition: color 0.2s linear;
font-size: 0.8em;
}

.nav_link:hover {
color: #fc6203;
}

.nav_link::after {
content: "";
display: block;
width: 100%;
height: 0.1em;
opacity: 0;
transition: opacity 0.3s linear;
background-color: black;
position: absolute;
top: 100%;
left: 0;
z-index: 1;
}

.nav_link:hover::after {
opacity: 1;
}
nav ul {
  position: absolute;
  left: 500px;
  background-color: white;
  flex-direction: column;
  top: 55px;
  width: 100%;
}
nav ul li {
  display: none;
}
nav ul li:hover > ul {
  display: initial;

}
nav {
  font-size: 2em;
  text-transform: uppercase;
}

.nav_link {
display: inline-block;
vertical-align: top;
margin: 0.5em;
color: black;
text-decoration: none;
position: relative;
transition: color 0.2s linear;
font-size: 0.8em;
}

.nav_link:hover {
color: #fc6203;
}

.nav_link::after {
content: "";
display: block;
width: 100%;
height: 0.1em;
opacity: 0;
transition: opacity 0.3s linear;
background-color: black;
position: absolute;
top: 100%;
left: 0;
z-index: 1;
}

.nav_link:hover::after {
opacity: 1;
}




.intro {
  width: 100%;
  height: 100%;
}

.banner1, .banner2 {
  width: 50%;
  height: 50%;
  float: left;
  box-sizing: border-box; /* чтобы включить padding и border в общую ширину */
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2.2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}


.slider-wrapper {
  clear: both;
  margin-top: 20px;
  position: relative;
}

.slider-wrapper .image-list {
  display: flex;
  gap: 18px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 20px; /
}

.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;
}

.slider-wrapper .image-list .image-item {
  max-width: 100%;
  height: auto;
}

.container2 {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}



/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1.5em;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:#555;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fc6203;
}


/* Медиа-запросы для различных разрешений */
@media (min-width: 1025px) {
  /* Дополнительные стили для экранов шириной 1025px и более */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Дополнительные стили для экранов с шириной от 769px до 1024px */
}

@media (max-width: 768px) {
  /* Дополнительные стили для экранов с шириной 768px и менее */
}
}



.nav{
  display: flex ;
}
.nav ul{
  width: 20%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 35px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: orange;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  display: block;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: orange;
  border-radius: 10px;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}




@media (max-width: 800px) {

  .burger { display: flex }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: white;
    animation: burgerAnimation 0.4s;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
 }
